.container{
    width: 100%;
    height: calc(100vh - 11rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    align-items: center;
    justify-content: center;
}

.input{
    max-width: 33rem;
    width: 100%;
    height: 4.5rem;
    border: 1px solid var(--border-color-1);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: var(--font1-small-smaller);
    color: var(--text-color);
    font-family: var(--font-family);
}

.input:focus{
    border: 2px solid var(--border-color-1);
}

.button{
    background-color: var(--second-color);
    color: var(--text-color-2);
    max-width: 33rem;
    width: 100%;
    height: 4.5rem;
    border-radius: 0.5rem;  
    font-size: var(--font1-small-smaller);
    font-family: var(--font-family);
}